#blog-container{
    border-bottom: 2px solid #ededed;
    cursor: pointer;
    padding: 10px;
    margin: 7px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    height: 250px;
    color: rgb(231, 224, 224);
}
#resize_blogs{
    height: 140px;
    width: 200px;
    border-radius: 5px;
}
#info_blogs{
    width: 800px;
}
#small_blogs{
    font-size: 10px;
    bottom: 5px;
    color: grey;
}