html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #c770f0;
}

.purple {
  color: var(--imp-text-color) ;
}

button:focus {
  box-shadow: none ;
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(./assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  /* overflow: hidden; */
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: #1b1a2ea9 ;
  transition: all 0.3s ease-out 0s ;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) ;
  backdrop-filter: blur(15px) ;
}

.navbar {
  position: fixed ;
  transition: all 0.3s ease-out 0s ;
  padding: 0.3rem 2rem ;
  font-size: 1.2rem ;
}

.navbar-toggler {
  position: relative ;
  background-color: transparent ;
  border-color: transparent ;
}

.navbar-toggler span {
  display: block ;
  background-color: #be50f4 ;
  height: 4px ;
  width: 27px ;
  margin-top: 5px ;
  margin-bottom: 5px ;
  transform: rotate(0deg) ;
  left: 0 ;
  opacity: 1 ;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 ;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out ;
  transition: transform 0.35s ease-in-out ;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute ;
  left: 12px ;
  top: 10px ;
  transform: rotate(135deg) ;
  opacity: 0.9 ;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px ;
  visibility: hidden ;
  background-color: transparent ;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute ;
  left: 12px ;
  top: 10px ;
  transform: rotate(-135deg) ;
  opacity: 0.9 ;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem ;
    font-size: 1.4rem ;
    background-color: #181a27 ;
  }
  .navbar-nav .nav-item a::after {
    display: none ;
  }
}
.navbar-brand {
  color: rgb(250, 250, 250) ;
}

.logo {
  height: 1.4em ;
  width: 2.5em ;
}

.navbar-nav .nav-link {
  color: white ;
  padding-right: 1rem ;
  padding-left: 1rem ;
}

.nav-link {
  padding: 0.8rem 1rem ;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem ;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #c95bf5;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/* --------- */
/* Home section */
/* --------- */

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
#tsparticles {
  position: fixed ;
  background-repeat: no-repeat ;
  background-size: cover ;
  width: 100%;
  height: 100%;
}



.home-section {
  position: relative;
  z-index: -1;
  background-image: var(--image-gradient), url(./assets/home-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 120px ;
  padding-top: 55px ;

}

.home-content {
  padding: 8rem 0 2rem ;
  color: whitesmoke;
  text-align: left;


}

.home-header {
  padding-top: 80px ;
}
.heading-name {
  font-size: 2.5em ;
  padding-left: 45px ;
}

.heading {
  font-size: 2.4em ;
  padding-left: 50px ;
}



.main-name {
  color: #cd5ff8;
  font-size:1.5em;
}

.Typewriter__wrapper {
  font-size: 2.2em ;
  color: #be6adf ;
  font-weight: 600 ;
}
.Typewriter__cursor {
  font-size: 2.4em ;
  color: #b562d6 ;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em ;
    font-weight: 500 ;
    position: absolute ;
  }
  .Typewriter__cursor {
    display: none ;
  }
  .main-name {
    font-size:1em;
  }


  .heading-name {
    font-size: 2.3em ;
    padding-left: 5px ;
  }
  .heading {
    font-size: 1.2em ;
    padding-left: 5px ;
  }

}

.board-card-view {
  border: 2px solid #c770f0; /* Initial border color */
  transition: border-color 0.3s, transform 0.3s, filter 0.3s; /* Smooth transition for border-color, transform, and filter */
  align-items: center;
}

.board-card-view:hover {
  border-color: #ff9900; /* Bright border color */
  transform: scale(1.05); /* Scale up the card a little */
  filter: brightness(1.2); /* Increase brightness on hover */
}



.home-about{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:150px 0px;

}

.home-about-section h1{
  font-size: 3em;
}
.home-about-section h3{
  font-size: 2em;
}
.home-about-body {
  padding-top: 50px;
}
.home-about-box {
  width: 80%; /* Adjust the width as needed */
  height: 60%; /* Adjust the height as needed */


}
.home-about-box{
  color:white;
  border: 3px solid #8A2BE2;
  padding:30px 20px;
  border-radius: 3px;
  margin:10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:60vw;
  height:auto;

}
/* Responsive adjustments */
@media (max-width: 767px) {
  .home-about-box {
    width: 90%; /* Adjust width for smaller screens */
    height: auto; /* Reset height for smaller screens */
  }
}

@media (max-width: 576px) {
  .home-about-box {
    width: 95%; /* Further adjust width for even smaller screens */
  }
}

.home-event-section {
  padding-bottom: 30px ;
  padding-top: 30px ;
}

.home-board-section{
 
  padding-top: 40px ;
  padding-bottom: 100px ;
  align-items: center;

}
.faculty-box {
  display: flex;
  justify-content: center;
}


.home-gallery {
  padding-bottom: 120px ;
  padding-top: 100px ;
}

.photo-gallery{
  height: auto;
  width: 25vw;
  border-radius: 25px;
  margin: 20px 10px;
}
.home-contact{
  padding-bottom: 90px ;
  padding-top: 90px ;

}
@media (max-width: 767px) {
  .photo-gallery{
    height: auto;
    width: 90%;
    border-radius: 25px;
    margin-bottom:20px;
  }
  .board-card {
    display: flex;
    justify-content: center;
    margin:20px;
    align-items: center;
  }

}


/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: rgb(10, 4, 22);
  bottom: 0 ;
  padding-top: 10px ;
  padding-bottom: 8px  ;
}
.footer-copywright {
  text-align: center ;
}

.footer-body {
  z-index: 1;
  text-align: center ;
}
.footer-section {
  padding-top: 20px;
  padding-bottom: 20px;

}
.footer-section a{
  color:#b562d6
}


@media (max-width: 767px) {
  .footer-copywright {
    text-align: center ;
  }

  .footer-body {
    text-align: center ;
  }
}

.footer h3 {
  font-size: 1em;
  color: white ;
  margin-top: 0.5em ;
  margin-bottom: 0.5em ;
}
.footer-icons {
  margin-top: 0.5em ;
  margin-bottom: 0.5em ;
  padding: 0 ;
}

.blockquote-footer {
  color: #a588c0 ;
}
/* --------- */
/* Projects */
/* --------- */
.project-section {
  position: relative ;
  padding-top: 150px ;
  padding-bottom: 30px ;
  background-image: var(--section-background-color) ;
}

.project-card {
  padding-top: 50px ;
  padding-bottom: 50px ;
  padding-left: 25px ;
  padding-right: 25px ;
  height: auto ;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) ;
  color: white ;
  background-color: transparent ;
  opacity: 0.9 ;
  transition: all 0.5s ease 0s ;
  height: 100% ;
}
.project-card-view:hover {
  transform: scale(1.02) ;
  overflow: hidden ;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) ;
}

.btn-primary {
  color: #fff ;
  background-color: #623686 ;
  border-color: #623686 ;
}

.btn-primary:hover {
  color: #fff ;
  background-color: #6d20c5d7 ;
  border-color: #6d20c5d7 ;
}
.btn:focus {
  outline: none ;
  box-shadow: none ;
}
.project-heading {
  color: white ;
  font-size: 2.3em ;
  font-weight: 500 ;
  padding-top: 10px ;
}
.home-about-social {
  text-align: center ;
  padding-top: 25px;
  color: white ;
}

.home-about-social-links {
  justify-content: center ;
  padding-top: 5px ;
  display: inline-block ;
  position: relative ;
  padding-inline-start: 0 ;
}

.home-social-icons {
  position: relative ;
  display: inline-block ;
  width: 40px ;
  height: 40px ;
  text-align: center ;
  font-size: 1.2em ;
  line-height: 2em ;
  background: rgba(255, 255, 255, 0.972) ;
  border-radius: 50% ;
  transition: 0.5s ;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #68187a;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #801f95;
}

.home-social-icons:hover {
  color: #87209e;
  box-shadow: 0 0 5px #87209e;
  text-shadow: 0 0 2px #87209e;
}

.social-icons {
  display: inline-block ;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 6px;
  padding-top: 6px;

}

.icon-colour {
  color: #700c86 ;
}

